// colors
$color-primary-dark: #132C33;
$color-primary-light: #D8E3E7;
$color-blue-dark: #126E82;
$color-blue-light: #51C4D3;
$color-white: #fff;

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px
$bp-small: 37.5em;  